{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
  <link rel="stylesheet" href="/css/hall/hall.css">
{% endblock %}

{% block content %}
<div class="container">
<div class="header">
<ul class="nav nav-pills pull-right">
<li class="active"><a href="/hall">大家的事</a></li>
<li><a href="/userdata">我的主页</a></li>
<li><a href="/about">关于</a></li>
</ul>
<h3 class="text-muted">Message Hall</h3>
</div>
<hr>
<div class="div-saysomething">
  <form class="form-inline" action="" method="" role="form">
    <div class="form-group">
      <label class="sr-only" for="saysomething">发表说说</label>
      <input type="text" class="form-control" id="saysomething" placeholder="说点什么..">
    </div>
    <button type="button" class="btn btn-info" id="btn-saysomething">发表</button>
  </form>
</div>
<div id="feed_friend">
  <div class="fn-feed-container">
    <div class="feed">
      <div class="feed_inner">
        <ul id="feed_friend_list">
          <hr>
          <li>
          {% for msg in messages %}
          <blockquote>
            <header><p>{{ msg.user }} 发表于 {{ msg.time|date('F jS, Y') }}</header>
            <div><p>{{ msg.data }}</div>
            <footer><p>This is a footer.</footer>
          </blockquote>
          {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $('.div-saysomething .btn-info').click(function() {
    var user = "Albin.";
    var data = $('#saysomething').val();
    var time = new Date();
    if (data !== "") {
      $.post('/admin/messagenew', {
        user : user,
        data : data,
        time : time
        }, function(data) {
        data = JSON.parse(data); // 还要转换，应该可以去掉这个步骤
        if (data.status) {
          location.reload();
          } else {
          alert("发表失败。。");
        }
      });
    }
  });
</script>
{% endblock %}

