{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
  <link rel="stylesheet" href="/css/hall/hall.css">
{% endblock %}

{% block content %}
<div class="container">
<div class="header">
<ul class="nav nav-pills pull-right">
<li><a href="/ourspace/hall">大家的事</a></li>
<li class="active"><a href="/ourspace/userdata">我的主页</a></li>
<li><a href="/ourspace/figure/line">折线图</a></li>
<li><a href="/ourspace/about">关于</a></li>
</ul>
<h3 class="text-muted">User data</h3>
<hr>
</div>
</div>
<script>
  $('.div-saysomething .btn-info').click(function() {
    var user = "Albin.";
    var data = $('#saysomething').val();
    var time = new Date();
    if (data !== "") {
      $.post('/admin/messagenew', {
        user : user,
        data : data,
        time : time
        }, function(data) {
        data = JSON.parse(data); // 还要转换，应该可以去掉这个步骤
        if (data.status) {
          location.reload();
          } else {
          alert("发表失败。。");
        }
      });
    }
  });
</script>
{% endblock %}

